<nav id="navbar" class="ui top fixed menu inverted borderless">
  <div class="ui text container">
    {{#foreach navigation}}
      <a class="{{#if current}}active{{/if}} item" href="{{url absolute="true"}}">{{label}}</a>
    {{/foreach}}
  </div>
</nav>
