{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

<a name="home"></a>
<section id="landing">
  <div class="text container ui middle aligned grid landing-info">
    <div class="column">
      <div class="ui two column grid">
        <div class="right aligned column">September 16-18</div>
        <div class="left aligned column">Stamford, CT</div>
      </div>

      <div class="centered ui two column grid">
        <h1 class="ui blue header">{{@blog.title}}
          <div class="sub header">{{@blog.description}}</div>
        </h1>
      </div>
    </div>
  </div>

  {{nagigation}}
</section>

<a name="about"></a>
<section id="about">
  <div class="text container ui middle aligned grid about-info">
    <div class="six wide column">
      <h3>What's a Northeast hackathon?</h3>
    </div>
    <div class="ten wide column">
      <p>Northeast hackathon is a collection of hackathons all along the coast of the Northeastern United States from Stamford, Conneticut up to Providence, Rhode Island. The idea is to connect and grow the various tech communities scattered between NYC and Boston.</p>
    </div>
  </div>
</section>

<a name="faqs"></a>
<section id="faqs" class="">
  <div class="text container ui middle aligned grid">
    <div class="sixteen wide column">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="centered row">
      <div class="five wide column">
        <h4>Can I attend?</h4>
        <p>We welcome developers, hobbyists, professionals, and others of all skill levels and backgrounds to attend!</p>
      </div>
      <div class="five wide column">
        <h4>Can I attend?</h4>
        <p>We welcome developers, hobbyists, professionals, and others of all skill levels and backgrounds to attend!</p>
      </div>
      <div class="five wide column">
        <h4>Can I attend?</h4>
        <p>We welcome developers, hobbyists, professionals, and others of all skill levels and backgrounds to attend!</p>
      </div>
    </div>
  </div>
</section>

<a name="register"></a>
<section id="register" class="">
  <div class="text container ui middle aligned grid reg-info">
    <div class="centered ten wide column center aligned">
      <h2 class="black-shadow title">Register</h2>
      <p>Sign up for your spot here!</p>
      <a href="#" class="ui green button">Register</a>
  </div>
</div>
</section>
